@import '../../../pages//stylesPage/global.scss';

.header-table {
    background-color: $azulMarino;
    color: #fff;
    border: 1px solid #cdcdcd;
    padding: 6px;
    text-align: center;
    div {
        border-left: 1px solid #cdcdcd;
    }
}
.body-table {
    background-color: #eee;
    color: rgb(46, 43, 43);
    width: 100%;
    text-align: center;
    padding: 6px;
    border: 1px solid #cdcdcd;
    &:hover {
        background-color: $amarillo !important;
    }
}