$amarillo: #f9e917;
$verde: #15912f;
$gris: #f0f6f5;
$azul: #0848bb;
$azulCielo: #6387bf;
$azulMarino: #2c5d70;

.btn-verde {
    background-color: $verde;
    border-color: $verde;
    color: #fff;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.fila_seleccionada {
    background-color: $azulCielo !important;
    color: #fff !important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
