
/*  amarillo = #f9e917;
    verder = #15912f;
    gris = #f0f6f5;
    azul = #0848bb;
    azulCielo = #6387bf;
    azulMarino = #2c5d70; */

.login {
    background-image: url('https://images.pexels.com/photos/159211/headache-pain-pills-medication-159211.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    .children-login {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        .login-izquierdo {
            text-align: center;
            opacity: 0.7;
            padding: 25px;
            background-image: linear-gradient(to right, #2c5d70 , #f9e917);
            color: #fff;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            .content-login-izquierdo {
                figure {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 5px solid #2c5d70;
                    display: block;
                    margin: auto;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                h1 {
                    font-weight: 600;
                    font-family: cursive;
                    color: #fff;
                }
                p {
                    font-size: large;
                }
            }
        }
        .login-derecha {
            padding: 25px;
            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 600px;
            .content-login-derecha {
                margin: auto;
                .arrow-back {
                    position: relative;
                    left: -20px;
                }
                h3 {
                    font-weight: 500;
                    font-family: cursive;
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 544px){
	/*body{
		background-color: green;
	}*/
}

@media screen and (min-width: 768px){
	/*body{
		background-color: yellow;
    }*/
    .row-login {
        position: relative;
        top: 50px;
        .login-izquierdo {
            height: 600px;
            .content-login-izquierdo {
                position: relative;
                top: 60px;
            }
        }
        .login-derecha {
            .content-login-derecha {
                width: 80%;
                position: relative;
                top: 30px
            }
        }
    }
}
@media screen and (min-width: 992px){
	/*body{
		background-color: orange;
	}*/
}
@media screen and (min-width: 1200px){
	/*body{
		background-color: lime;
	}*/
}